<!DOCTYPE html>
<html xmlns:th="http://www.thymLeaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeLeaf/layout"
layout:decorator="template"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<meta charset="utf-8">
<title>patients</title>
</head>
<body>


<div layout:fragment="content">
<div class="container mt-5">

<div class="card">
<div class="card-header">Liste des patients</div>
<div class="card-body">
<form method="get" th:action="@{patients}">
<div class="form-group">
 <label>Name</label>
 <input type="text" name="keyword" th:value="${keyword}">
 <button class="btn btn-primary">Chercher</button>
</div>
</form>
<table class="table">
<tr>
<th>ID</th><th>Name</th><th>Date Naissance</th> <th>score</th><th>malade</th> <th sec:authorize="hasRole('ROLE_ADMIN')">Action</th>
</tr>
<tr th:each="p:${patients}">
<td th:text="${p.id}"></td>
<td th:text="${p.nom}"></td>
<td th:text="${p.dateNaissance}"></td>
<td th:text="${p.score}"></td>
<td th:text="${p.malade}"></td>
<td sec:authorize="hasRole('ROLE_ADMIN')">
<a onClick="return confirm('voulez-vous supprimez ce patient')" class="btn btn-danger" 
   th:href="@{deletePatient(id=${p.id},keyword=${keyword},page=${currentPage},size=${size})}">Delete</a>
   <a class="btn btn-warning" th:href="@{editPatient(id=${p.id})}">Edit</a></td>
</tr>
</table>
<ul class="nav nav-pills"> 
<li th:each="page,status:${pages}">
<a  th:class="${status.index==currentPage ? 'btn btn-primary':'btn'}" 
th:href="@{patients(page=${status.index},keyword=${keyword},size=${size})}" 
th:text="${status.index}"></a>
</li>
</ul>
</div>
</div>
</div>
</div>
</body>
</html>