<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeLeaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<title>Patients</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{patients}">Patients <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Medecins</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" th:href="@{patients}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Patients
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{formPatient}" sec:authorize="hasRole('ROLE_ADMIN')">Ajouter</a>
          <a class="dropdown-item" href="#">chercher</a>
        </div>
    
    </ul>
    <ul class="nav navbar-nav ml-auto">
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <span sec:authorize="isAuthenticated()">
            <span sec:authentication="name">
           </span>
           </span>
            <span sec:authorize="!isAuthenticated()">
            Connect
           </span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a sec:authorize="isAnonymous()" class="dropdown-item" th:href="@{login}">Login</a>
          <a sec:authorize="isAuthenticated()" class="dropdown-item" th:href="@{logout}">Logout</a>
          <a class="dropdown-item" href="#">Profile</a>
          
        </div>
      </li>
    </ul>
   
  </div>
</nav>
<section layout:fragment="content"> 

</section>

</body>
</html>